h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Boldest weight for h1 */
  }
  
  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semi-bold for h2 */
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Medium weight for h3 */
  }
  
  h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular weight for h4, h5, h6 */
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular weight for paragraph */
  }